In [1]:
pow(4,2)

16

In [2]:
print("Bem vindo a calculadora simples")

a = float(input("Digite o primeiro valor:"))
b = float(input("Digite o segundo valor"))

op = input("DIgite a operação: + : Soma , - :Subtração , / Divisão , * : Multiplicação.")

if op == "+":
    resultado = a + b
    print("Resultado é:", resultado)

elif op == "-":
    resultado = a - b
    print("Resultado é:", resultado)

elif op =="*":
    resultado = a * b
    print("resultado é:",resultado)

elif op =="/" :
    resultado = a % b
    print("resultado é:", resultado)

elif op ==0:
    print("operação invalida")

Bem vindo a calculadora simples
Digite o primeiro valor:12
Digite o segundo valor32
DIgite a operação: + : Soma , - :Subtração , / Divisão , * : Multiplicação.-
Resultado é: -20.0

In [3]:
round(3.1453449,2)

3.15

In [16]:
#atribuindo vwelor para a variavel
 teste = 1

IndentationError: unexpected indent (<ipython-input-16-dba9d2e09f6e>, line 2)

In [17]:
teste

NameError: name 'teste' is not defined

In [18]:
print(teste)

NameError: name 'teste' is not defined

In [19]:
teste = 3

In [20]:
teste

3

In [21]:
pessoa1,pessoa2,pessoa3 = "joao", "rebeca","mateus"

In [22]:
pessoa1

'joao'

In [23]:
largura = 2

In [24]:
comprimento =  4

In [25]:
area = largura * comprimento

In [26]:
area

8

In [33]:
nome = "jesiel"

In [34]:
sobrenome = "araujo"

In [37]:
completo = nome +  " " +sobrenome

In [38]:
completo

'jesiel araujo'

In [39]:
#STRING

In [41]:
 'teste ola'

'teste \n ola'

In [42]:
print("teste \n ola")

teste
 ola

In [43]:
D = "studing string"

In [47]:
print(D)

studing string

In [49]:
D[0]

's'

In [50]:
D[:5]

'studi'

In [52]:
D.upper()

'STUDING STRING'

In [53]:
D.split()

['studing', 'string']

In [55]:
D.count('t')

2

In [ ]:
#LISTAS

In [2]:
lista_1 =["z","fejao", "caerne"]

In [3]:
item1 = lista_1[0]

In [4]:
print(item1)

z

In [5]:
lista_2 = ["carne","frango","salsicha"]

In [6]:
item2 = lista_2[1]

In [7]:
print(item1,item2,lista_1[1])

z frango fejao

In [8]:
lista_1[0] = 'chocolate'

In [9]:
lista_1

['chocolate', 'fejao', 'caerne']

In [10]:
del lista_1[2]

In [11]:
lista_1

['chocolate', 'fejao']

In [12]:
listas = [[1,2,4],[5,6,7],[8,9,10]]

In [13]:
listas[0]

[1, 2, 4]

In [14]:
a= listas[0]

In [15]:
a

[1, 2, 4]

In [16]:
a = listas[0][0]

In [17]:
a

1

In [18]:
#cocatenar
lista1 = [1,23,3]
lista2 = [34,32,76]

In [19]:
soma = lista1 + lista2

In [20]:
soma

[1, 23, 3, 34, 32, 76]

In [21]:
#verificando se o nmero 10 esta
print(10 in soma)

False

In [23]:
print(23 in soma)

True

In [24]:
#comprimento da lista
len(soma)

6

In [25]:
#valor max
max(soma)

76

In [26]:
#adicionando na lista
soma.append("largouu")

In [27]:
soma

[1, 23, 3, 34, 32, 76, 'largouu']

In [28]:
soma.count('largouu')

1

In [29]:
vazio = []

In [31]:
vazio

[]

In [32]:
vazio.append("enchendo")

In [33]:
vazio.append("quase cheio")

In [34]:
vazio.append("cheio")

In [35]:
vazio

['enchendo', 'quase cheio', 'cheio']

In [36]:
#copiando lista
cheio= []

In [38]:
for item in vazio:
    cheio.append(item)

In [39]:
cheio

['enchendo', 'quase cheio', 'cheio']

In [40]:
cidades = ["New york","Recife","Madrid"]

In [43]:
cidades.extend(["orlando","Belem"])

In [44]:
cidades

['New york', 'Recife', 'Madrid', 'orlando', 'Belem']

In [47]:
cidades.index("Recife")

1

In [48]:
cidades.insert(2,"Porto")

In [49]:
cidades

['New york', 'Recife', 'Porto', 'Madrid', 'orlando', 'Belem']

In [50]:
cidades.insert(3,"10")

In [51]:
cidades

['New york', 'Recife', 'Porto', '10', 'Madrid', 'orlando', 'Belem']

In [53]:
cidades.remove(10)

ValueError: list.remove(x): x not in list

In [54]:
#ORdena em ordem alfabetica ou numerica
cidades.sort()

In [55]:
cidades

['10', 'Belem', 'Madrid', 'New york', 'Porto', 'Recife', 'orlando']

In [56]:
#DICIONARIOe
estudantes_dicio= {"Pedro":23,"Amanda":21, "Carlos":19}

In [57]:
estudantes_dicio

{'Pedro': 23, 'Amanda': 21, 'Carlos': 19}

In [58]:
estudantes_dicio['Pedro']

23

In [59]:
#adicionar
estudantes_dicio["maaicon"] = 15

In [60]:
estudantes_dicio

{'Pedro': 23, 'Amanda': 21, 'Carlos': 19, 'maaicon': 15}

In [61]:
len(estudantes_dicio)

4

In [62]:
estudantes2 = {"washignton":20,"eli":19,"felipe":24}

In [63]:
estudantes_dicio.update(estudantes2)

In [64]:
estudantes_dicio

{'Pedro': 23,
 'Amanda': 21,
 'Carlos': 19,
 'maaicon': 15,
 'washignton': 20,
 'eli': 19,
 'felipe': 24}