In [4]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números

lista1 = [1,2,3,4,5,6,7,8,9,10]

In [5]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
 #Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista2 = ["carro","moto","onibus","caminhao","barco"]

In [7]:
lista2[2]

'onibus'

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

name = input('What´s your frist name?')#

In [ ]:
surname = input('What´s your surname?')

In [ ]:
full = name + surname

In [ ]:
print("This is your full name:", + full)

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do \n,
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla"

tuple1 = (1,2,2,3,4,4,4,5)

In [ ]:
list2 = tuple(tuple1)
list2.count('4')

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dict1 = {"action": 6,"advnt":10,"Scf":5}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela"

keys = {"key1":12,"key2":6,"key3":28}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dict1["spy"]= 7

In [ ]:
dict1

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores
# Um dos valores deve ser uma lista de 2 elementos numéricos

dict2 = {"xiaomi":9,"Apple":9.5,"Sansung":[8,9]}

In [ ]:
dict2

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, \n,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e \n,
# o quarto elemento um valor do tipo float.\n

list3 = ["ola",(1,2), {"key1":23,"key2":68}, 7.7]

In [ ]:
list3

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

text = ' CIentista de  dados ganha muuito dinheiro '

In [ ]:
text(1)

In [ ]:
text(18)